/** reset **/
html,
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}
li {
    list-style-type: none;
}

/** ui **/
a:link,
a:visited,
a:active,
a:hover{
    text-decoration: none;
    color: #6e7fad;
}
/** body **/
body {
    font-family: sans-serif;
    font-size: 1.2em;
    color: #39393d;
    background: #d7d7d7;
}
.content{
    max-width: 1280px;
    padding: 15px;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-rows: 90px 1fr 130px;

}
/** header **/

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 15px;
}
header ul {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}
header li {
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo {
    font-weight: bolder;
    font-size: 1.4em;
}
/** main **/
main {
    display: grid;
    justify-content: center;
    grid-template-rows: 60px auto;
    gap: 15px
}
main>h1 {
    font-size: 1.3em;
}
/** forms **/
.form-group {
    /* background: red; */
    display: grid;
    justify-content: center;
}
input {
    padding: 2px;
    outline: none;
    font-family: sans-serif;
    font-size: 1em;
    height: 25px;
    border: none;
    border-bottom: solid 3px midnightblue;
    margin-bottom: 15px;
    background: transparent;
}
button {
    background: #4e579b;
    color: white;
    font-size: 1.4em;
    padding: 7px;
    outline: none;
    border: none;
    border-radius: 4px;
    margin-top: 7px;
    font-family: sans-serif;
    cursor: pointer;
}
button:hover {
    opacity: .7;
}
form>label {
    font-size: .8em;
    margin-top: 7px;
    font-weight: bold;
}
footer {
    text-align: center;
}