{% extends "../base.html" %}
{% block main %}
{%block page_title %}<h1> Create New User </h1>{%endblock%}
<div class="form-group">
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {% for field in form %}
        <!-- Form -->
            <label for="{{ field.id_for_label }}">
                {{ field.label }}:
            </label>
            <div class="field">
                {{ field }}
            </div>
        <!-- End form -->
        <!-- Errors -->
        {% if field.errors %}
        {% for error in field.errors %}
        <div class="danger">{{ error }}</div>
        {% endfor %}
        {% endif %}
        <!-- End errors -->
        {% endfor %}
        <!-- Actions btn -->
        <button type="submit" name="action" value="save"><ion-icon name="checkmark-done-outline"></ion-icon></button>
    </form>
</div>
{% endblock %}